#blog-section {
  background-color: #FAFAFA;
  color: #000;

  .blog-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .blog-text {
      display: flex;
      flex-direction: column;
      width: 60%;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 3em 0 3em 0;

      h1 {
        font-family: $font-1;
        font-weight: 600;
      }

      p {
        font-family: $font-2;
      }
    }

    .blog-posts {
      width: 75vw;
     /* overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      margin: 3em 0 3em 0;
      overflow: visible;
      box-sizing: content-box;
      padding: 1em;
      */
      .blog-post {
        border: solid 1em #fff;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);
        h2,
        p {
          padding: .5em;
        }

        .blog-photo-container {
          max-width: 500px;
          max-height: 500px;
          position: relative;
          .img-tag {
            color: #fff;
            font-family: $font-2;
            text-transform: uppercase;
            font-size: 1em;
            background-color: #363636;
            padding: 3px;
            position: absolute;
            bottom: 8px;
            left: 16px;

          }
          .blog-post-photo {
            display: block;
            width: 100%;
            height: auto;
            max-width: 100%;
            object-fit: cover;
          }
        }

        .title {
          font-family: $font-1;
          font-weight: 600;
        }

        .date {
          font-family: $font-2;
          text-transform: uppercase;
          font-weight: 500;
        }

        .digest {
          font-family: $font-2;
        }
      }
      .blog-post:hover {
        .blog-post-photo {
          opacity: .7;
          transition: all 200ms ease-in;
          .img-tag {
            opacity: 1;
          }
        }
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.1);
        transition: all 200ms ease-in;
        transform: scale(1.1);
      }
    }
  }
}
