.footer {
  background-color: #EBEBEB;
  text-align: center;
  height: 200px;
  color: #626262;

  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .social-media,
    .social-media i,
    .copyright {
      padding: 1em .5em 1em .5em;
    }

    .fa {
      @media only screen and (max-width: 768px) {
        font-size: 5vw;
      }
    }

    a {
      color: #626262;
    }
    a:hover {
      color: #000;
    }
  }
}
