#partners-section {
  background-color: #fff;

  .container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;

    .row {
      width: 80%;
      .partners-logos {
        display: flex;
        flex-wrap: nowrap;
        .logo {
          padding: 3em 0 3em 0;
          width: 20%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          justify-content: center;
          align-items: center;

          .partner-logo {
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
