#reference-section {
  background-color: #000;
  color: #fff;
  text-align: center;
  
  .display-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    position: relative;
    .mySlides {
      max-width: 60%;
      min-height: 400px;
      flex: 1;
    }
    @media only screen and (max-width: 600px) {
      height: 100vh;
    }
  }
  .quotes {
    margin-top: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-bottom: 5em;
    p {
      font-family: $font-1;
      font-size: 2em;
    }
    h3 {
      font-familt: $font-2;
      text-transform: uppercase;
    }
    @media only screen and (max-width: 350px) {
      margin-bottom: 50em;
    }
  }
  .dot {
    height: 7px;
    width: 7px;
    background-color: #847f7f;
    border-radius: 50%;
    display: inline-block;
  }
  .dot-focused {
    background-color: #fff;
    height: 10px;
    width: 10px;
  }

  .dots {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    @media only screen and (max-width: 768px) {
      top: 90%;
    }
  }
}
